.imgBox {
    width: 180px;
    height: 180px;
    border-radius: 111px;
    margin-top: 20px;
}

.box {
    -webkit-box-shadow: 0px 3px 66px -24px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 66px -24px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 66px -24px rgba(0, 0, 0, 0.2);
}

.box:hover {
    -webkit-box-shadow: 0px 3px 66px -15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 3px 66px -15px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 66px -15px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
}

.icon {
    margin-top: 20px;
    margin-right: 10px;
    color: #2f89fc;
}

.Btn_Post {
    /*border: 3px solid #2eca6a;*/
    border-radius: 50%;
    margin-left: 70px;
    margin-bottom: 13px;

    /*padding-top: 10px;*/
}

.Btn_Post  a {
    /*font-size: 35px;*/
    /*color: #00c292;*/
    /*z-index: 10000;*/

    display: block;
    width: 50px;
    padding: 10px 0 10px 0;
    font-size: 25px;
    color: #eee;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.Btn_Post a:hover{

    color: #2f89fc;

}
.eye{
    display: none;
}
.show{
    display:none;
}

